/**
 * Material-Netgear-Genie
 * Content
 */

// Disable content background color
// so we can see tabs shadow
#basic-pane table td {
    background-color: transparent!important;
}

// Iframes body
.scroll-pane { outline: none; }
.body-image { display: none; }
#full-page-container {
    background: #fff;
    top: 18px;
    right: 2px;
    bottom: 5px;
    left: 2px;
    border-radius: 2px;
    @extend .elevation-lowest;
}

// Help
.subfooter-image { display: none; }
.subhead2-bottom {
    top: -15px;
    background-color: material-color($color-blue-grey, 700);

    .button-help-arrow { display: none; }
}
