/**
 * Material-Netgear-Genie
 * Content
 */

// Disable content background color
// so we can see shadows
#basic-pane, #adv-pane {
    table td {
        background-color: transparent !important;
    }
}

// Iframes body
body[data-iframe] {
    padding-top: 18px!important;
}

// Page title
.subhead2, .page_title {
    position: static;
    width: auto;
    height: auto;
    padding: 12px 0 8px 20px;
    background: none;
    font-size: 19px;
    color: $color-primary;
}

// Content
.scroll-pane { outline: none; }
.body-image { display: none; }
.subtop-image { display: none; }
#full-page-container {
    background: #fff;
    top: 18px;
    right: 2px;
    bottom: 5px;
    left: 2px;
    border-radius: 2px;
    @extend .elevation-lowest;
}

// Help
.subfooter-image { display: none; }
.subhead2-bottom {
    top: -15px;
    background-color: material-color($color-blue-grey, 700);

    .button-help-arrow { display: none; }
}
