/**
 * Material-Netgear-Genie
 * Menu
 */

// Define styles
%menu-wrap {
    background: #fff;
    margin-left: 0;
    margin-top: 0;
    width: 200px;
}
%menu-item-wrap {
    background: none;
    height: auto;
    width: auto;
    padding: 0;
}
%menu-item {
    display: block;
    padding: 15px 22px;
    color: $color-text-alt;
    background-color: transparent;
    @include transition-duration($timing-short);
    @include transition-property(background-color);

    span {
        display: block;
        float: none;
        background: none;
        width: auto;
        margin: 0;
        padding: 0;
        color: $color-text-alt;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    &:hover {
        background-color: $color-hover-light;
    }
}
%menu-item-wrap-active {
    background-color: $color-primary;

    a {
        color: #fff;

        span {
            color: #fff;
            font-weight: bold;
        }
        &:hover {
            background-color: darken($color-primary, 5);

            &:before {
                color: #fff;
            }
        }
    }
}

// Basic tab menu
.basic-menu {
    @extend %menu-wrap;

    .basic-menu-div {
        @extend %menu-item-wrap;

        a {
            @extend %menu-item;
        }

        &.menuActive {
            @extend %menu-item-wrap-active;
        }
    }
}

// Advanced tab menu
.advance-menu {
    @extend %menu-wrap;

    li:not(.subHeader) {
        @extend %menu-item-wrap;

        a {
            @extend %menu-item;
        }

        &.noSubActive {
            @extend %menu-item-wrap-active;
        }
    }
    > li:not(.noSub) {
        > a:before {
            @include material-icon-onbefore($mdi-chevron-down);
            float: right;
            margin-left: 10px;
            color: rgba(#000, 0.5);
            line-height: 14px;
            font-size: 14px;
        }
        &.SubActive > a:before {
            @include material-icon-onbefore($mdi-chevron-up);
        }
    }
    li.subHeader {
        ul {
            height: auto!important;

            li.SubMenu {
                border-bottom: 0;

                a {
                    padding: 10px 24px 10px 40px;

                    span {
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

// ICONS
// Define icons
$icons-basic: (
    basic-home: $mdi-home,
    basic-int:  $mdi-earth,
    basic-wls:  $mdi-router-wireless,
    basic-atd:  $mdi-lan,
    basic-par:  $mdi-human-child,
    basic-rea:  $mdi-usb,
    basic-gst:  $mdi-account-network,
    basic-dlr:  $mdi-cloud-download
);
$icons-advanced: (
    adv-home:   $mdi-home-variant,
    wizard:     $mdi-dots-horizontal,
    wps-wizard: $mdi-dots-horizontal,
    setup_header:       $mdi-settings,
    USBStorage_header:  $mdi-usb,
    downloader_header:  $mdi-cloud-download,
    security_header:    $mdi-security-network,
    administration:     $mdi-settings,
    advset_header:      $mdi-settings
);

// Base icon class
%icon {
    float: left;
    margin-right: 10px;
    line-height: 14px;
    font-size: 21px;
    margin-left: -8px;
}

// Apply icons
// Basic
.basic-menu-div a:before {
    @include material-icon-onbefore($mdi-menu-right);
    @extend %icon;
}
@each $item-id, $icon in $icons-basic {
    .basic-menu-div##{$item-id} a:before {
        @include material-icon-onbefore($icon);
        @extend %icon;
    }
}

// Advanced
.advance-menu > li:not(.subHeader) > a:before {
    @include material-icon-onbefore($mdi-menu-right);
    @extend %icon;
}
@each $item-id, $icon in $icons-advanced {
    .advance-menu > li##{$item-id}:not(.subHeader) > a:before {
        @include material-icon-onbefore($icon);
        @extend %icon;
    }
}
