/**
 * Material-Netgear-Genie
 * Material buttons
 */

// Buttons
.material-button {
    border: 0;
    padding: 5px 10px;
    @include transition-property(background, box-shadow);
    @include transition-duration($timing-short);
    border-radius: 2px;
    box-shadow: none;

    span {
        color: #333;
        font-size: 12px;
        white-space: nowrap;
        font-weight: 600;
    }

    &:hover {
        text-decoration: none;
    }
}
.material-button-xs {
    padding: 2px 7px;

    span {
        font-size: 10px;
        font-weight: 500;
    }
}

.material-button--flat {
    @extend .material-button;

    border: 0!important;
    background-color: transparent;

    span {
        color: #000;
        font-weight: 500;
    }

    &:hover {
        background-color: $color-hover-light;
    }
    &:active {
        background-color: $color-active-light;

        color: #000;
    }
}

.material-button--elevated {
    @extend .material-button;

    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15) !important;

    span {
        color: #000;
    }

    &:hover {
        background-color: $color-hover-light;
        box-shadow: $elevation-1;
    }

    &:active {
        background-color: $color-active-light;
        box-shadow: $elevation-negative;

        span {
            color: #000;
        }
    }
}

// Primary
.material-button--flat--primary {
    background-color: $color-accent;
    @extend .material-button--flat;
}
.material-button--elevated--primary {
    background-color: $color-accent;
    @extend .material-button--elevated;
}

.material-button--flat--primary,
.material-button--elevated--primary {
    background-color: $color-accent;

    &:hover {
        background-color: darken($color-accent, 3);
    }

    span {
        color: #fff;
    }
    &:active {
        background-color: darken($color-accent, 5);

        span {
            color: #fff;
        }
    }
}

// Secondary
.material-button--flat--secondary {
    background-color: $color-primary;
    @extend .material-button--flat;
}
.material-button--elevated--secondary {
    background-color: $color-primary;
    @extend .material-button--elevated;
}

.material-button--flat--secondary,
.material-button--elevated--secondary {
    background-color: $color-primary;

    &:hover {
        background-color: darken($color-primary, 3);
    }

    span {
        color: #fff;
    }
    &:active {
        background-color: darken($color-primary, 5);

        span {
            color: #fff;
        }
    }
}
